.nevbar{
    color: black;
    /* margin:auto; */
    padding: 4%;
    /* margin-top:0px; */
    
    /* border: solid;
    display: flex;
    justify-content: space-between; 
     margin-left: 20px; */

 display: flex; 

 position: absolute; 
 top: 0px;
}


.Link{
    flex-direction: row;
    margin-top: -30px;
    justify-content: space-around; 
    /* border-bottom: solid 2px; */
    /* align-content: flex-start; */
 
}
.home_but{
    /* margin-top: 50px; */
    /* margin-right: 50px; */
   
}